<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Food-Service</title>
        <link rel="stylesheet" href="/stylesheets/layout.css">
    </head>
    <body>
        <nav id="menu">
            {{#if login}}
                <p>Du bist nicht eingeloggt!</p>
            {{/if}}
            {{#if user_data}}
                <div id="user_data">
                    <img id="profilbild" src={{user_data.image}}>
                    <a id="username">{{user_data.name}}</a>
                </div>
                <div id="menu_panel">
                    <button class="first_button" id="profil" onclick="show_childs('.child_profil')"><img src="/images/profil_icon.png">Profil</button>
                    <a href="/profile"><button class="child_profil" id="profil_anzeigen"><img src="/images/profil_icon.png">Profil anzeigen</button></a>
                    <a href="/profile?edit=true"><button class="child_profil" id="profil_bearbeiten"><img src="/images/profil_icon.png">Profil bearbeiten</button></a>
                    <button id="lager"><img src="/images/lager_icon.png">Lager</button>
                    {{#if user_data.admin}}
                        <button id="admin" onclick="show_childs('.child_admin')"><img src="/images/admin_icon.png">Adminbereich</button>
                        <button class="child_admin" id="profil_anzeigen" onclick="produktscan()"><img src="/images/admin_icon.png">Produktscan</button>
                        <button class="child_admin" id="profil_bearbeiten" onclick="produktdatenbank()"><img src="/images/admin_icon.png">Produktdatenbank</button>
                    {{/if}}
                </div>
                <button id="bt_logout" onclick="logout()"></button>
            {{/if}}
        </nav>

        <main id="panel">
            <header>
                <button class="toggle-button">☰</button>
                <h2 id="pagetitle">{{pagetitle}}</h2>
            </header>
            <div id="content">{{{body}}}</div>
        </main>
        <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
        <script src="/javascripts/lib/slideout.min.js"></script>
        <script src="/javascripts/layout.js"></script>
  </body>
</html>
