#panel header{
    background-color: #00cdf4;
    color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 75px;
}
#panel {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-position-y: 75px;
}
#panel #pagetitle {
    text-align: center;
}
#content {
    margin-top: 75px;
}
.toggle-button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 50px;
    position: fixed;
}
/* MENU */
#menu {
    background-color: white;
    color: #00cdf4;
    font-weight: bold;
}
#profilbild {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}
#user_data {
    margin-bottom: 30px;
}
#menu_panel button {
    text-align: left;
    font-weight: bold;
    width: 100%;
    height: 50px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px black solid;
    color: #00cdf4;
}
#menu_panel .first_button {
    border-top: 1px black solid;
}

#menu_panel .child_profil, #menu_panel .child_admin {
    padding-left: 30px;
    display: none;
}

#bt_logout {
    width: 100%;
    height: 50px;
    background-image: url('/images/bt_logout.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0%;
}

/* slideout menu */
body {
    width: 100%;
    height: 100%;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}
