<head>
    <title>Profil</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    {{#if show}}
    <main id="page_show">
        <h2>{{user_data.name}}</h2>
        <div id="profil_daten">
          <input type="text" value={{user_data.name}} readonly><br>
          <input type="text" value={{user_data.email}} readonly><br>
        </div>
        <div id="profile_bild">
          <img src={{user_data.image}}>
        </div>
    </main>
    {{/if}}
    {{#if edit}}
    <main id="page_edit">
        <h2>{{user_data.name}}</h2>
        <div id="profil_daten">
          <div id="name">
            <input type="text" value='{{user_data.name}}' onkeyup="show_save('name')">
            <button>save</button><br>
          </div>
          <div id="email">
            <input type="text" value={{user_data.email}} onkeyup="show_save('email')">
            <button>save</button><br>
          </div>
        </div>
        <div id="profile_image">
            <input name="image" id="image" type="file" onChange="readURL(this)">
            <img id="profile_bild" src={{user_data.image}}>
            <button id="save_img" onclick="save_img()">Bild speichern!</button>
            <div class="bar">uploading...</div>
            <a id="img_err"></a>
        </div>
    </main>
    {{/if}}
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/javascripts/filters.js"></script>
<script src="/javascripts/profile.js"></script>
