
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/admin/admin_scan.css">
</head>
<body>
    <main>
        <div id="eingabe_panel">
            Erkannter EAN CODE: <br>
            <a id="ean_code"></a>
            <br>
            Gebe dem Produkt einen Namen: <br>
            <input type="text" id="produkt_name" placeholder="Produktname"><br>
            <button id="save" onclick="save()">Speichern</button>
            <button id="start_scan2" onclick="start_scan()">Start-Scanning</button>
            <a id="msg"></a>
        </div>
        <div id="barcode-scanner" class="viewport"></div>
        <button id="start_scan" onclick="start_scan()">Start-Scanning</button>
    </main>
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/javascripts/admin/admin_scan.js"></script>
<script src="/javascripts/lib/quagga.js"></script>