<head>
    <link rel="stylesheet" href="/stylesheets/admin/admin_data.css">
</head>
<body>
    <main>
        <div class="message" id="message">
            <a id="message_img"></a>
            <a id="message_txt"></a>
        </div>
        <aside>
            <h2>Produkt-Liste</h2>
            <button id="bt_refresh" onclick="refresh()"></button><input type="checkbox" onclick="refresh()" class="filter_list_new" id="filter_list_new"> Nur neue Datensätze
            <div id="data_table">
                {{#if produkt_list}}
                    <table>
                        {{#each produkt_list}}
                        <tr>
                            <td class="bt_load_data" onclick="bt_load_data(this)" id={{this._id}}>{{this.name}} : {{this.barcode.code}} </td>
                        </tr>
                        {{/each}}
                    </table>
                    </ul>
                {{/if}}
            </div>
            <div>Anzahl der geladenen Lebensmittel: <a id="produkt_count">{{produkt_list.length}}<a></div>
            {{#if produkt_list_error}}
                <div id="produkt_list_error">{{produkt_list_error}}</div>
            {{/if}}       
        </aside>
        <div id="data_fenster">
                <div id="produkt_eigenschaften">
                    <h1>Produkteigenschaften:</h1><br>
                    Barcode-Code: <input type="text" class="input_produkt" name="code" id="code" value={{produkt.barcode.code}} readonly>
                    Produkt_ID: <input type="text" class="input_produkt" name="_id" id="_id" data-id={{produkt._id}} value={{produkt._id}} readonly><br>
                    Barcode-Type: <input type="text" class="input_produkt" name="typ" id="typ" value={{produkt.barcode.typ}} readonly>
                    Produktname: <input type="text" class="input_produkt" name="name" id="name" value={{produkt.name}}>
                    Erstellt am: <input type="text" class="input_produkt" name="erstellt" id="erstellt" value={{produkt.erstellt}} readonly>
                    Verderblich: <input type="text" class="input_produkt" name="verderblich" id="verderblich" value={{produkt.verderblich}} readonly>
                </div>
                <div id="bilder_upload">
                    <h1>Bilder Upload:</h1>
                    <input name="image" id="image" type="file" onChange="readURL(this)">
                    <img id="image_vorschau" src={{produkt.image}}>
                    <button id="bt_safe_img" onclick="save_img()">Bild speichern!</button>
                    <div class="bar">uploading...</div>
                </div>
                <div id="produkt_naehrwerte">
                    <h1>Nährwerte in Gramm (pro 100gr):</h1><br>
                    Kcal: <input type="text" class="input_produkt" name="kcal" id="kcal" value={{produkt.naehrwerte.kcal}}><br>
                    Eiweiß: <input type="text" class="input_produkt" name="eiweiß" id="eiweiß" value={{produkt.naehrwerte.eiweiß}}><br>
                    Kohlenhydrate: <input type="text" class="input_produkt" name="k_anzahl" id="k_anzahl" value={{produkt.naehrwerte.kohlenhydrate.k_anzahl}}><br>
                    davon Zucker: <input type="text" class="input_produkt" name="zucker" id="zucker" value={{produkt.naehrwerte.kohlenhydrate.zucker}}><br>
                    Fett: <input type="text" class="input_produkt" name="f_anzahl" id="f_anzahl" value={{produkt.naehrwerte.fett.f_anzahl}}><br>
                    davon gesättigt: <input type="text" class="input_produkt" name="gesaetiigt" id="gesaetiigt" value={{produkt.naehrwerte.fett.gesaetiigt}}><br>
                    Ballaststoffe: <input type="text" class="input_produkt" name="ballaststoffe" id="ballaststoffe" value={{produkt.naehrwerte.ballaststoffe}}><br>
                    Natrium: <input type="text" class="input_produkt" name="natrium" id="natrium" value={{produkt.naehrwerte.natrium}}><br>
                    Salz: <input type="text" class="input_produkt" name="salz" id="salz" value={{produkt.naehrwerte.salz}}><br>
                </div>
                <div id="produkt_masseinheit">
                    <h1>Maßeinheit:</h1><br>
                    Gewicht (in Gramm): <input type="text" class="input_produkt" name="gewicht" id="gewicht" value={{produkt.masseinheit.gewicht}}><br>
                    Stückzahl: <input type="text" class="input_produkt" name="m_anzahl" id="m_anzahl" value={{produkt.masseinheit.m_anzahl}}><br>
                </div>
                <button class="bt_produkt_safe" id="bt_produkt_safe" onclick="save()">Produktdaten speichern!</button>
                
        </div>
    </main>
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/javascripts/filters.js"></script>
<script src="/javascripts/admin/admin_data.js"></script>
<script src="/javascripts/login.js"></script>